VITE_SUPABASE_URL=https://pefdviziklhyfzvjolig.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBlZmR2aXppa2xoeWZ6dmpvbGlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0NTg4MTcsImV4cCI6MjA4ODAzNDgxN30.ercOGhAqtEdJzkS-B7ss438MGMGYJXAYflgcm5JOf1k
VITE_API_URL=https://boardingconnect-fps.vercel.app/api
