# Supabase Configuration
SUPABASE_URL=https://pefdviziklhyfzvjolig.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBlZmR2aXppa2xoeWZ6dmpvbGlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0NTg4MTcsImV4cCI6MjA4ODAzNDgxN30.ercOGhAqtEdJzkS-B7ss438MGMGYJXAYflgcm5JOf1k
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBlZmR2aXppa2xoeWZ6dmpvbGlnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQ1ODgxNywiZXhwIjoyMDg4MDM0ODE3fQ.B-lc4zroBfbYwhYDX1FaEgFUXBjYaY765saD1_55ME8
JWT_SECRET=kh9dvgfrBdJjNufFu4uNbZz1dD2EUBpfN66zE+MUwozmRQi0TPu5Gs7IAOwe7+eU6roRIorjY5D66Ec1csgC+A==

# Server Configuration
PORT=5000
NODE_ENV=production
SUPABASE_API_KEY=${sb_publishable_3_5EGKUhLtRXV8-Hqlsd3g_2ETgZTp8}
API_URL=https://localhost:5000/api

# Frontend URL
FRONTEND_URL=https://boardingconnect.vercel.app
